h5 {
  font: var(--headlines-font);
  font-size: var(--font-4);
  font-weight: var(--text-600);
  text-align: center;
}

.about-cards-height {
  background-color: var(--site-white);
}

.paddingStyle {
  padding-top: 20px;
}
.cradBg {
  background-color: #f2f2f2;
}
