footer {
  background-color: var(--site-purple);
}

footer :is(section, div, a, p) {
  color: var(--site-white);
}

.social-circles:hover {
  background-color: var(--site-yellow);
  color: var(--site-black);
}
